@charset "UTF-8";
form {
  width: 25vw;
  padding: 2%;
  margin: auto;
  border: 1px solid #f6f6f6;
  border-radius: 1em;
}

.acordeon {
  width: 40%;
  margin: 40px auto;
  padding: 45px 45px;
}

.acordeon .contenedor {
  position: relative;
  margin: 10px 10px;
}

.acordeon .etiqueta {
  position: relative;
  padding: 10px 0;
  font-size: 25px;
  cursor: pointer;
}

.acordeon .etiqueta::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/*Oculta el contenido*/
.acordeon .contenido {
  position: relative;
  height: 0;
  font-size: 20px;
  text-align: justify;
  width: 680px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*Línea horizontal*/
.acordeon hr {
  width: 100;
  margin-left: 0;
  border: 1px solid grey;
}

.acordeon .contenedor.activa .contenido {
  height: 150px;
}

.acordeon .contenedor.activa .etiqueta {
  color: #ffc107;
}

/*Signo positivo a negativo una vez activado*/
.acordeon .contenedor.activa .etiqueta::before {
  content: "-";
  font-size: 25px;
  color: #ffc107;
}

.acordeon-cuerpo {
  color: white;
}

.movimientos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tablas {
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  color: #ffdd00;
}

td {
  color: white;
}

.tablas tr {
  border-bottom: 1px solid #727272;
}

.banner {
  width: 30vw;
}

.imagenBanner img {
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.imagenBanner:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.negro {
  padding: 8%;
  background-color: rgb(9, 9, 9);
  background-image: url("../../images/fondo.png");
  background-size: cover;
  background-position: center;
}

.white-shadow {
  -webkit-box-shadow: 1px 1px 40px rgb(244, 244, 244);
  box-shadow: 1px 1px 40px rgb(244, 244, 244);
  border-radius: 2em !important;
}

* {
  font-family: "Arial", sans-serif;
}

/*Para que la barra de scroll aparezca siempre y no mueva el header en las que aparecía*/
body {
  overflow-y: scroll;
  background-color: #0e1215 !important;
}

body::-webkit-scrollbar {
  width: 16px;
  /* ajusta según sea necesario */
}

/*Fin barra scroll*/
.negrita {
  font-weight: bold;
}

.contenedorMovimientos {
  padding: 5%;
  margin-top: 2%;
}

.iban {
  font-size: 20px;
}

#datosPersonales h1 {
  color: white;
}

#datos_acceso p {
  color: white;
}

#movimientos h2, p {
  color: white;
}

#movimientos h3 {
  color: white;
}

.blanco {
  color: white;
}

.btn-amarillo {
  color: #fff;
  background-color: #ffdd00 !important;
  border-color: #ffdd00 !important;
}

/* Estilo para el hover del color amarillo */
.btn-amarillo:hover {
  color: #fff;
  background-color: #ffe018 !important;
  border-color: #ffe018 !important;
}

.imagenUsuario {
  width: 12%;
  height: auto;
}

.centered-container {
  text-align: center;
}

.vertical-center-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.contenedorAreaPersonal {
  margin-right: 5%;
  margin-left: 5%;
  padding: 1%;
}