@charset "UTF-8";
#datos_acceso p {
  padding-top: 3%;
  text-align: center;
}

form {
  width: 25%;
  padding: 2%;
  margin: auto; /*Centrar*/
  background-color: #ccc;
  border-radius: 5px;
}

label {
  width: 40%;
  margin-right: 6%;
}

#dni, #contrasenya, #nombre, #apellidos, #tfno, #correo, #direccion, #fecha, #nuevaContrasenya, #nuevaContrasenyaComprobar, #cantidad_prestada, #plazo, #motivo {
  padding: 1% 3%;
  border: 1px solid #f6f6f6;
  background-color: #f6f6f6;
  margin-bottom: 1%;
  border-radius: 5px;
}

form input[type=submit] {
  width: 30%;
  padding: 2% 5%;
  margin-top: 3%;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #000;
}

.acordeon {
  width: 40%;
  margin: 40px auto;
  padding: 45px 45px;
}

.acordeon .contenedor {
  position: relative;
  margin: 10px 10px;
}

.acordeon .etiqueta {
  position: relative;
  padding: 10px 0;
  font-size: 25px;
  cursor: pointer;
}

.acordeon .etiqueta::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/*Oculta el contenido*/
.acordeon .contenido {
  position: relative;
  height: 0;
  font-size: 20px;
  text-align: justify;
  width: 680px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*Línea horizontal*/
.acordeon hr {
  width: 100;
  margin-left: 0;
  border: 1px solid grey;
}

.acordeon .contenedor.activa .contenido {
  height: 150px;
}

/*Signo positivo a negativo una vez activado*/
.acordeon .contenedor.activa .etiqueta::before {
  content: "-";
  font-size: 25px;
}

* {
  font-family: "Montserrat", sans-serif;
}

/*Para que la barra de scroll aparezca siempre y no mueva el header en las que aparecía*/
body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 16px; /* ajusta según sea necesario */
}

/*Fin barra scroll*/
.negrita {
  font-weight: bold;
}