* {
    font-family: 'Montserrat', sans-serif;
}

.main_figure {
    margin-top: 60px;
    width: 500px;
}

.main_figure img {
    width: 100%;
}

.open_button {
    width: 280px;
    padding: 16px 20px;
    position: fixed;
    bottom: 23px;
    right: 28px;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background-color: rgb(255, 202, 28);
}

.open_button i {
    display: inline-flex;
    margin-right: 5px;
}

.chat_popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index:9;
}

.form_container {
    max-width: 300px;
    padding: 10px;
    font-size: .8rem;
    color: black;
    background-color: rgb(239, 239, 239);
}

.form_container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background-color: white;
    resize: none;
    min-height: 200px;
}

.form_container h2{
    font-size: 1.5rem;
    font-weight: 700;
}

.form_container textarea:focus {
    background-color: rgb(255, 255, 255);
    outline: none;
}

.form_container .btn {
    width: 100%;
    padding: 16px 20px;
    margin-bottom: 10px;
    border:none;
    border-radius: 6px;
    cursor:pointer;
    color: white;
    font-weight: 700;
    background-color: green;
}

.form_container .btn:hover {
    text-decoration: underline;
    opacity: .8;
}

.form_container .cancel{
    background-color: red;
}