$white-shadow-color: rgb(244, 244, 244);

.banner {
    width:100vw - 75vw;
}

.imagenBanner {
    img {
      transition: all 0.9s ease;
  
        &:hover {
            transform: scale(1.1);
        }
    }
}
  
.negro {
    padding: 8%;
    background-color: rgba(9, 9, 9);
    background-image: url("../../images/fondo.png");
    background-size: cover;
    background-position: center;
}

@mixin white-shadow($color: $white-shadow-color) {
    -webkit-box-shadow: 1px 1px 40px $color;
    -moz-box-shadow: 1px 1px 40px $color;
    box-shadow: 1px 1px 40px $color;
    border-radius: 2em !important;
}

.white-shadow {
    @include white-shadow;
}