@mixin formulario {
	width:100vw - 75vw;
	margin:auto; 
	border:1px solid $color-blanco;
	border-radius:1em;
}

form {
	@include formulario;
	padding:3%;
}

#datosPersonales form {
	@include formulario;
	padding:5%;
}

@media (max-width: 980px){
	#datosPersonales form {
		width:100vw - 30vw;
	}
	#logIn form {
		width:100vw - 30vw;
	}
}

#logIn {
	padding:5%;
}

