@mixin formulario {
	width: 100vw - 70vw;
	margin: auto;
	padding: 3%;
	border: 1px solid $color-blanco;
	border-radius: 1em;
}

form {
	@include formulario;
}

#datos_acceso form {
	@include formulario;
	padding: 5%;

	@include tablet() {
		width: 100vw - 30vw;
	}
}

#cambiarDatos form {
	@include formulario;
	padding: 5%;
}

#movimientos form {
	@include formulario;
	padding: 5%;
}

#logIn form, #datosPersonales form, #movimientos form, #pedirPrestamo form, #cuentasAdmin form, #contactoAdmin form{
	@include tablet() {
		width: 100vw - 30vw;
	}

	@include movil() {
		width: 100vw - 30vw;
	}
}

#logIn, #datosPersonales, #movimientos, #cuentasAdmin {
	padding: 5%;
}