@function lighten-color($color, $amount) {
    @return lighten($color, $amount);
}

.acordeon {
    width: 100% - 60%;
    margin: 40px auto;
    padding: 45px 45px;
    color:$color-blanco;

    .contenedor {
        position: relative;
        margin: 10px 10px;
    }

    .etiqueta {
        position: relative;
        padding: 10px 0;
        font-size: 25px;
        cursor: pointer;

        &::before {
            content: '+';
            position: absolute;
            top: 50%;
            right: -5px;
            font-size: 25px;
            transform: translateY(-50%);
        }
    }

    //Ocultar contenido
    .contenido {
        position: relative;
        height: 0;
        font-size: 20px;
        text-align: justify;
        width: 680px;
        overflow: hidden;
        transition: 0.5s;
    }

    //Línea
    hr {
        width: 100;
        margin-left: 0;
        border: 1px solid grey;
    }

}

.acordeon .contenedor.activa .contenido {
    height: 150px;
}

.acordeon .contenedor.activa .etiqueta {
    color: lighten-color($color-amarillo, 5%);
}

/*Signo positivo a negativo una vez activado*/
.acordeon .contenedor.activa .etiqueta::before {
    content: '-';
    font-size: 14px + 11px;
    color: lighten-color($color-amarillo, 5%);
}
