.acordeon {
    width: 40%;
    margin: 40px auto;
    padding: 45px 45px;
}

.acordeon .contenedor {
    position: relative;
    margin: 10px 10px;
}

.acordeon .etiqueta {
    position: relative;
    padding: 10px 0;
    font-size: 25px;
    cursor: pointer;
}

.acordeon .etiqueta::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 25px;
    transform: translateY(-50%);
}

/*Oculta el contenido*/
.acordeon .contenido {
    position: relative;
    height: 0;
    font-size: 20px;
    text-align: justify;
    width: 680px;
    overflow: hidden;
    transition: 0.5s;
}

/*Línea horizontal*/
.acordeon hr {
    width: 100;
    margin-left: 0;
    border: 1px solid grey;
}

.acordeon .contenedor.activa .contenido {
    height: 150px;
}

/*Signo positivo a negativo una vez activado*/
.acordeon .contenedor.activa .etiqueta::before {
    content: '-';
    font-size: 25px;
}

.acordeon-cuerpo {
    color: white;
}