@mixin movArea {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movimientos {
    @include movArea;
}

.areaPersonal {
    @include movArea;

    @include movil () {
        font-size: 14px;
    }
}

.prestamos {
    @include movArea;

    @include movil () {
        font-size: 13px;
    }
}

.tablas {
    width: $total100;

    tr {
        border-bottom: 1px solid #727272;
    }
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    color: $color-amarillo;
}

td {
    color: $color-blanco;
}