.movimientos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablas {
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    color: #ffc107;
}

td {
    color: white;
}

.tablas tr {
    border-bottom: 1px solid #727272;
}