.movimientos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablas {
    width: $total100;

    tr {
        border-bottom: 1px solid #727272;
    }

}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    color: $color-amarillo;
}

td {
    color: $color-blanco;
}

