$color-amarillo: #ffdd00;

@import "components/_formulario.scss";
@import "components/_preguntas.scss";
@import "components/_tablas.scss";
@import "components/_banner.scss";

* {
    font-family: "Arial", sans-serif;
}

/*Para que la barra de scroll aparezca siempre y no mueva el header en las que aparecía*/
body {
    overflow-y: scroll;
    background-color: #0e1215 !important;
}

body::-webkit-scrollbar {
    width: 16px;
    /* ajusta según sea necesario */
}

/*Fin barra scroll*/

.negrita {
    font-weight: bold;
}

.contenedorMovimientos {
    padding: 5%;
    margin-top: 2%;
}

.iban {
    font-size: 20px;
}

#datosPersonales h1 {
    color: white;
}

#datos_acceso p{
    color: white; 
}

#movimientos h2, p {
    color: white;
}

#movimientos h3 {
    color: white;
}

.blanco {
    color:white;
}

.btn-amarillo {
    color: #fff;
    background-color: $color-amarillo !important;
    border-color: $color-amarillo !important;
}

/* Estilo para el hover del color amarillo */
.btn-amarillo:hover {
    color: #fff;
    background-color: #ffe018 !important;
    border-color: #ffe018 !important;
}

.imagenUsuario {
    width: 12%;
    height: auto;
}

.centered-container {
    text-align: center;
}

.vertical-center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedorAreaPersonal {
    margin-right: 5%;
    margin-left: 5%;
    padding: 1%;
}