$color-amarillo: #fbcd00;
$color-blanco: #f6f6f6;
$negrita: bold;
$fuente: "Arial", sans-serif;
$total100: 100%;

@import "components/_formulario.scss";
@import "components/_preguntas.scss";
@import "components/_tablas.scss";
@import "components/_banner.scss";

* {
    font-family: $fuente;
}

/*Para que la barra de scroll aparezca siempre y no mueva el header en las que aparecía*/
body {
    overflow-y: scroll;
    background-color: #0e1215 !important;
}

body::-webkit-scrollbar {
    width: 16px;
    /* ajusta según sea necesario */
}

/*Fin barra scroll*/

.negrita {
    font-weight: $negrita;
}

.contenedorMovimientos {
    padding: 5%;
    margin-top: 2%;
}

.iban {
    font-size: 14px + 6px;
}

.btn-amarillo {
    color: $color-amarillo;
    background-color: $color-amarillo !important;
    border-color: $color-amarillo !important;
}

.imagenUsuario {
    width: 100% - 88%;
    height: auto;
}

.centered-container {
    text-align: center;
}

.vertical-center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedorAreaPersonal {
    margin-right: 5%;
    margin-left: 5%;
    padding: 1%;
}

.amarillo {
    color: $color-amarillo;
}

@mixin lista {
    list-style: none;
    font-size: 16px;
    color: white;
}

.listaMensaje {
    @include lista;
    text-align: center;
}

.videos {
    width: 50vw;
}

.contenedor-video{
    display:inline-block;
    padding: 2%;
}

.contenedor-video iframe{
	width:30vw;
	height:40vh;
    box-shadow: 1px 1px 30px black;
}